.MuiSelect-select.MuiSelect-standard.MuiInputBase-input.MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  font-size: 14px;
}

.MuiInputBase-input.MuiInput-input.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-size: 14px;
}

.wrapper-dialog-project {
  margin: 0 80px;

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    overflow-y: unset;
  }

  .MuiBox-root.css-lx4kgr {
    overflow: auto;
  }

  .MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container {
    display: block;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: none;
    height: 90vh;
    position: relative;

    .MuiBox-root.css-lx4kgr {
      margin-bottom: 40px;
      padding: 0 24px;
    }

    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.Mui-expanded.MuiAccordion-gutters.css-1086bdv-MuiPaper-root-MuiAccordion-root {
      margin-bottom: 30px;
      box-shadow: -1px -1px 5px -1px rgba(0, 0, 0, 0.12);
    }

    .MuiDialogActions-root.MuiDialogActions-spacing.css-knqc4i-MuiDialogActions-root {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .MuiBox-root.css-lx4kgr {
    width: auto;
  }

  .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.css-1d8i0mm-MuiGrid-root {
    width: auto;
  }
}
