.MuiSelect-select.MuiSelect-standard.MuiInputBase-input.MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  font-size: 14px;
}

.MuiInputBase-input.MuiInput-input.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-size: 14px;
}

.wrapper-dialog-project {
  margin: 0 80px;

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    overflow-y: unset;
  }

  .MuiBox-root.css-lx4kgr {
    overflow: auto;
  }

  .MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container {
    display: block;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: none;
  }

  .MuiBox-root.css-lx4kgr {
    width: auto;
  }

  .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.css-1d8i0mm-MuiGrid-root {
    width: auto;
  }
}
