.task-page {
  min-height: calc(100vh - 130px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  .MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    padding: 0 35px;
  }
}
